.book {
    &-form {
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 28px 0;
    }
}

.form {
    &-group {
        width: 100%;
        display: flex;
        align-items: center;
    }
    &-group-two {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 28px;
    }
    &-control {
        width: 100%;
        background: rgba(0, 0, 0, 0.04);
        padding: 15px 24px;
        font-size: 1.8rem;
        line-height: calc(25.6 / 16);
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $gray-light;
          }
          
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $gray-light;
        }
        
        ::-ms-input-placeholder { /* Microsoft Edge */
        color: $gray-light;
        }
    }
    &-control:last-child {
        height: 200px;
    }
}

@media screen and (max-width: 767px) {
    .book-form {
        gap: 15px 0;
        width: 90%;
    }
    .form-group-two {
        flex-direction: column;
        gap: 15px 0;
    }
}
