.intro {
    &-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 60px 30px ;
    }
    &-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px 0;
    }
    .text-s {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .intro-content {
        grid-template-columns: 1fr;
    }
}
