$font:'Poppins', sans-serif;
$font-heading:'Oleo Script Swash Caps';
$primary-color:#E1651F;
$text-color:#6A6A6A;
$heading-color: #1C1C1C;
$gray-color: #DDE0E4;
$gray-light: rgba(0, 0, 0, 0.4);
$gray-dark: rgba(255, 255, 255, 0.6);
$black-color: #1C1C1C;
$black-light-color: #2C2C2C;